DJANGO_SECRET_KEY=django-insecure-pw^gfr(7ukiw%l@6&h+se-1+udczua98=kk3fdpk9#3a=tf-uq
DJANGO_DEBUG=True
DJANGO_ALLOWED_HOSTS=localhost,127.0.0.1,testserver

MYSQL_DATABASE_NAME=onlinejudge
MYSQL_HOST=localhost
MYSQL_PORT=3306
MYSQL_USER=root
MYSQL_PASSWORD=123456

JWT_ALGORITHM=HS256
JWT_EXP_DELTA_SECONDS=604800

AWS_ACCESS_KEY_ID=minioadmin
AWS_SECRET_ACCESS_KEY=minioadmin
AWS_S3_ENDPOINT_URL=http://localhost:9000
AWS_STORAGE_BUCKET_NAME=onlinejudge
AWS_S3_USE_SSL=False
AWS_S3_VERIFY=False
AWS_S3_FILE_OVERWRITE=True
AWS_QUERYSTRING_AUTH=False

