[Unit]
Description=gunicorn daemon for huebRE Django project
After=network.target mysql.service

[Service]
User=www-data
Group=www-data
WorkingDirectory=/opt/huebRE
ExecStart=/opt/huebRE/venv/bin/gunicorn \
    --access-logfile - \
    --workers 3 \
    --bind 127.0.0.1:8000 \
    --timeout 60 \
    huebRE.wsgi:application

Restart=always
RestartSec=3

[Install]
WantedBy=multi-user.target